* {
    padding: 0;
    margin: 0;
}
.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: aqua;
    width: 100%;
    height: 100%;
}
.frame {
}
.pic {
    object-fit: cover;
    width: 100%;
    height: 100%;
}